body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container-prime{
  background-color: white;
}


.container{
  display: grid;
  grid-template-areas: 
    "footer1 footer2 footer3 footer4";
  /* grid-template-columns: auto auto auto auto; */
  grid-gap: 10px;
  background-color: black;
  padding: 15px 25px 25px 15px;
}

.list1{
  text-decoration: none;
  color: #fbd449;
  grid-area: footer1;
  list-style: none;

}

.list2{
  text-decoration: none;
  color: #fbd449;
  grid-area: footer2;
  list-style: none;

}
.textbox{
  color:white;
  grid-area: footer4;
  text-align: left;
  padding-left: 60px;
}
